# HW6

In [75]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.stats.weightstats
import math

In [76]:
mm10_ref=[]
ref_fs = open("/Users/xiangning/qbb2020-answers/HW6/mm10_refseq_genes_chr6_50M_60M.bed","r")
for line in ref_fs:
    ID=line.split()[1]
    chrom=line.split()[2]
    start=int(line.split()[4])
    end=int(line.split()[5])
    mm10_ref.append([ID,chrom,start,end,[],[]])

# mm10_ref_df=pd.DataFrame(np.array(mm10_ref),columns=['ID','chrom', 'start', 'end','E4.0','E5.5'])

In [77]:
E55_fs=open("/Users/xiangning/qbb2020-answers/HW6/bismark_results/extracted_results/SRR3083929_1.chr6_bismark_bt2_pe.bedGraph","r")
E55=[]
for line in E55_fs:

    E55.append(line.split())

# E55_df=pd.DataFrame(np.array(chr3929[1:]),columns=['chrom', 'start', 'end','score'])
E55=E55[1:]
len(E55)

72893

In [78]:
E40_fs=open("/Users/xiangning/qbb2020-answers/HW6/bismark_results/extracted_results/SRR3083926_1.chr6_bismark_bt2_pe.bedGraph","r")
E40=[]
for line in E40_fs:

    E40.append(line.split())
E40=E40[1:]
E40[0]
# E40_df=pd.DataFrame(np.array(chr3926[1:]),columns=['chrom', 'start', 'end','score'])
# E40_df

['chr6', '49999926', '49999927', '0']

In [79]:
mm10_ref[0]

['NM_001164734', 'chr6', 50110240, 50198598, [], []]

In [80]:
count=0
for e55,e40 in zip(E55,E40):
#     print(e55,e40)
#     if count%200==0:
#         print(count)
    count+=1
    for gene in mm10_ref:
        

#         print(gene[2],e55[1],gene[2],e55[3])
        if (int(gene[2])<=int(e55[1])) and (int(gene[3])>=int(e55[2])):
            gene[5].append(float(e55[3])*0.01*(int(e55[2])-int(e55[1])))
        if (int(gene[2])<=int(e40[1])) and (int(gene[3])>=int(e40[2])):
            gene[4].append(float(e40[3])*0.01*(int(e40[2])-int(e40[1])))


for gene in mm10_ref:

    gene.append(np.sum(gene[4]))
#     print(gene[5])
    gene.append(np.sum(gene[5]))

In [81]:
mm10_ref_array=np.asarray(mm10_ref)
gene_df=pd.DataFrame(mm10_ref_array[:,[0,6,7]],columns=['ID','E4.4_mean','E5.5_mean'])
gene_df

/Users/xiangning/miniconda3/lib/python3.6/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

               ID E4.4_mean E5.5_mean
0    NM_001164734   113.011   444.813
1    NM_001164733   113.011   444.813
2       NM_019939   113.011   444.813
3       NM_018769   43.6061   271.233
4       NM_027881   127.853   639.964
..            ...       ...       ...
147     NM_028705   158.692         0
148     NM_021432   5.83333         0
149     NM_153574   46.8414         0
150  NM_001081145   10.2619         0
151     NM_183183   18.6182         0

[152 rows x 3 columns]

In [82]:
gene_df['E4.4_mean'] = pd.to_numeric(gene_df['E4.4_mean'])
gene_df.drop(gene_df[gene_df['E4.4_mean']==0].index, inplace = True) 
gene_processed_df=gene_df.dropna()
gene_processed_df

               ID   E4.4_mean E5.5_mean
0    NM_001164734  113.011067   444.813
1    NM_001164733  113.011067   444.813
2       NM_019939  113.011067   444.813
3       NM_018769   43.606061   271.233
4       NM_027881  127.852720   639.964
..            ...         ...       ...
147     NM_028705  158.691667         0
148     NM_021432    5.833333         0
149     NM_153574   46.841429         0
150  NM_001081145   10.261905         0
151     NM_183183   18.618182         0

[131 rows x 3 columns]

In [83]:
gene_processed_df['fold']=(gene_processed_df['E5.5_mean']-gene_processed_df['E4.4_mean'])/gene_processed_df['E4.4_mean']
gene_processed_df

               ID   E4.4_mean E5.5_mean     fold
0    NM_001164734  113.011067   444.813  2.93602
1    NM_001164733  113.011067   444.813  2.93602
2       NM_019939  113.011067   444.813  2.93602
3       NM_018769   43.606061   271.233  5.22008
4       NM_027881  127.852720   639.964  4.00548
..            ...         ...       ...      ...
147     NM_028705  158.691667         0       -1
148     NM_021432    5.833333         0       -1
149     NM_153574   46.841429         0       -1
150  NM_001081145   10.261905         0       -1
151     NM_183183   18.618182         0       -1

[131 rows x 4 columns]

In [84]:
gene_processed_df.to_csv ("gene_methylation_enrichment.csv", index = False, header=True)