In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.stats.weightstats
import math

In [2]:
mm10_ref=[]
ref_fs = open("/Users/xiangning/qbb2020-answers/HW6/mm10_refseq_genes_chr6_50M_60M.bed","r")
for line in ref_fs:
    ID=line.split()[1]
    chrom=line.split()[2]
    start=int(line.split()[4])
    end=int(line.split()[5])
    mm10_ref.append([ID,chrom,start,end,[],[]])

# mm10_ref_df=pd.DataFrame(np.array(mm10_ref),columns=['ID','chrom', 'start', 'end','E4.0','E5.5'])

In [3]:
E55_fs=open("/Users/xiangning/qbb2020-answers/HW6/bismark_results/extracted_results/SRR3083929_1.chr6_bismark_bt2_pe.bedGraph","r")
E55=[]
for line in E55_fs:

    E55.append(line.split())

# E55_df=pd.DataFrame(np.array(chr3929[1:]),columns=['chrom', 'start', 'end','score'])
E55=E55[1:]
len(E55)

72893

In [4]:
E40_fs=open("/Users/xiangning/qbb2020-answers/HW6/bismark_results/extracted_results/SRR3083926_1.chr6_bismark_bt2_pe.bedGraph","r")
E40=[]
for line in E40_fs:

    E40.append(line.split())
E40=E40[1:]
E40[0]
# E40_df=pd.DataFrame(np.array(chr3926[1:]),columns=['chrom', 'start', 'end','score'])
# E40_df

['chr6', '49999926', '49999927', '0']

In [6]:
count=0
for e55,e40 in zip(E55,E40):
#     print(e55,e40)
#     if count%200==0:
#         print(count)
    count+=1
    for gene in mm10_ref:
        

#         print(gene[2],e55[1],gene[3],e55[2])
        if (int(gene[2])<=int(e55[1])) and (int(gene[3])>=int(e55[2])):
            gene[5].append(float(e55[3]))
        if (int(gene[2])<=int(e40[1])) and (int(gene[3])>=int(e40[2])):
            gene[4].append(float(e40[3]))


for gene in mm10_ref:
    gene.append(np.mean(gene[4]))
#     print(gene[5])
    gene.append(np.mean(gene[5]))

/Users/xiangning/miniconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/xiangning/miniconda3/lib/python3.6/site-packages/numpy/core/_methods.py:170: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [7]:
mm10_ref_array=np.asarray(mm10_ref)
gene_df=pd.DataFrame(mm10_ref_array[:,[0,6,7]],columns=['ID','E4.4_mean','E5.5_mean'])
gene_df

/Users/xiangning/miniconda3/lib/python3.6/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

               ID E4.4_mean E5.5_mean
0    NM_001164734   24.9473   71.6286
1    NM_001164733   24.9473   71.6286
2       NM_019939   24.9473   71.6286
3       NM_018769   16.2709   65.2003
4       NM_027881   18.4492   76.3681
..            ...       ...       ...
147     NM_028705   34.7247       NaN
148     NM_021432   17.6768       NaN
149     NM_153574   13.1577       NaN
150  NM_001081145   23.3225       NaN
151     NM_183183   10.5187       NaN

[152 rows x 3 columns]

In [8]:
gene_processed_df=gene_df.dropna()

In [9]:
gene_processed_df['fold']=(gene_processed_df['E5.5_mean']-gene_processed_df['E4.4_mean'])/gene_processed_df['E4.4_mean']
gene_processed_df

/Users/xiangning/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

               ID E4.4_mean E5.5_mean     fold
0    NM_001164734   24.9473   71.6286   1.8712
1    NM_001164733   24.9473   71.6286   1.8712
2       NM_019939   24.9473   71.6286   1.8712
3       NM_018769   16.2709   65.2003  3.00717
4       NM_027881   18.4492   76.3681  3.13938
..            ...       ...       ...      ...
102     NM_011054   26.1707   64.5859  1.46787
103  NM_001159960   25.8899    64.899  1.50673
104  NM_001159952   25.9157   65.0923  1.51169
105  NM_001159957   25.4344   64.6531  1.54196
106  NM_001025568   25.9157   65.0923  1.51169

[106 rows x 4 columns]

In [10]:
gene_processed_df.to_csv ("gene_methylation_enrichment.csv", index = False, header=True)